:root{
    --mainBlue:#2a2a72;
    --lightBlue:#009ffd;
    --mainWhite:#f3f3f3;
    --mainDark:#232528;
    --mainYellow:#ffa400;
    --lightGreen: rgb(80, 233, 80);
    --lightGreen1: rgb(200, 240, 200);
    --mainGreen: green;
    --hightGreen: rgb(6, 56, 6);
}
body{
    font-family: 'Oswald', sans-serif !important;
    background: var(--mainWhite) !important;
    color: var(--mainDark);
    margin: 0;
    padding: 0;

}
.text-title{
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}
.text-blue{
    color: var(--mainBlue);
}
.text-bright{
    color: var(--lightBlue);
}
.navbar-brand{
    width: 85px;
}
.btitle{
    color: var(--mainGreen);
}
.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background: var(--mainGreen);
    color: var(--mainWhite);
    padding: 0;
    height: 45px;
    margin-top: 2rem;
}
#pfooter{
    margin-top: 5px;
}

.form-inline{
    margin-right: 2rem;
}
.btn-black{
    background: transparent;
    text-transform: capitalize;
    font-size: 0.8rem !important;
    color: var(--mainDark);
    border-radius: 0 !important;
    border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
    background: var(--mainDark) !important;
    color: var(--lightGreen) !important;
}
.cart-icon{
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--lightGreen);
}